<h4>{{fechaActual | date: 'shortDate'}}</h4>

<section>
    <div class="example-button-row">
        <button mat-raised-button>Basic</button>
        <button mat-raised-button color="primary" (click)="mostrarAlumnos()">Mostrar Alumnos</button>
        <button mat-raised-button color="accent" (click)="mostrarCursos()">Mostrar Cursos</button>
    </div>
</section>
<hr />

<div *ngIf="activo === 0">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Alumnos</mat-card-title>
        </mat-card-header>
        <mat-list role="list">
            <mat-list-item role="listitem" *ngFor="let alumnos of alumnos">{{alumnos.nombre |
                titlecase}}}</mat-list-item>
        </mat-list>
    </mat-card>
</div>
<div *ngIf="activo === 1">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Alumnos</mat-card-title>
        </mat-card-header>
        <mat-list role="list">
            <mat-list-item role="listitem" *ngFor="let curso of cursos">{{curso.nombre}} - {{curso.precio | currency:
                'S/.'}}}</mat-list-item>
        </mat-list>
    </mat-card>
</div>